@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,700,900|Lora:700);

@import '{}/client/style/imports/variables.scss';
@import '{}/client/style/imports/grid.scss';
@import '{}/client/style/imports/layout.scss';
@import '{}/client/style/imports/pages.scss';
@import '{}/client/style/imports/box.scss';
@import '{}/client/style/imports/form.scss';

/* Pages */
@import '{}/client/style/imports/pages/home.scss';
@import '{}/client/style/imports/pages/signup.scss';

/* Global */

html, body, #__blaze-root, #layout-wrapper, #layout {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

html, body {
  color: $text_color;
  font-size: 14px;
  font-family: 'Lora', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: $primary_color;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: lighten($primary_color, 20);
  text-decoration: none;
}
.button {
  display: block;
  min-width: 150px;
  max-width: 200px;
  height: 2.5em;
  line-height: 2.5em;
  margin: auto;
  margin-top: 20px;
  padding: 0 10px;
  border: 1px solid $primary_color;
  color: $primary_color;
  background: rgba(0, 169, 255, 0);
  border-radius: 2px;
  cursor: pointer;
  text-align: center;

  transition: all 0.5s;

  &:hover {
    color: #FFF;
    background: lighten($primary_color, 10);
    border: 1px solid darken($primary_color, 5);
  }
}

/* All Togeth'Earth */
.project-name {
  span {
    color: $primary_color;
  }
}

/* Clear Fix */
.clearfix:before, .clearfix:after  {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}