 /* Using the base of Bootstrap */
#page {
  form {
    margin: 0;
  }
  .form-error, .form-success {
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
  }
  .form-error {
    color: $error_color;
  }
  .form-success {
    color: $success_color;
  }

  .field-group {
    margin-bottom: 15px;

    label {
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: 700;

      .error {
        color: $error_color;
        font-weight: 500;

        &:before {
          content: " - ";
        }
      }
    }
  }

  .form-control {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    margin: 0;
    font: inherit;
    font-size: 14px;
    line-height: 1.4em;
    color: #555;
    background-color: #FBFBFB;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

    &:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    }
  }

  .field-group.has-error .form-control,
  .form-control.has-error {

    border-color: $error_color;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

    &:focus {
      border-color: $error_color;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba($error_color_r, $error_color_g, $error_color_b, 0.55);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(253, 62, 59, 0.55);
    }
  }
}