#page {

  color: $page_color;

  .intro {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;

    h2 {
      /*font-size: 2em;*/
      color: #AFAFAF;
      text-shadow: 1px 1px 0px #FFF;
    }
    .description {
      text-align: left;

      li {
        margin-top: 10px;
      }
    }
  }
  h1.intro {
    font-size: 2em;
    color: #AFAFAF;
    text-shadow: 1px 1px 0px #FFF;
  }

  .coming-soon {
    color: #CCC;
    font-size: 0.8em;
    font-style: italic;
  }

  .separator {
    height: 1px;
    background: lighten($light_gray_color, 10);
    box-shadow: 0 1px 0 #fff;
    margin: 25px 0;
  }
}