#page-home {
  .brief-wrapper {
    .button--open-brief {
      transition: all 1s ease-out; /* For closing */
      opacity: 1;
      overflow: hidden;
    }
    .brief {
      position: relative;
      transition: all 1s ease-out; /* For closing */
      opacity: 0;
      max-height: 0;
      overflow: hidden;

      margin-top: 50px;
      margin-bottom: 25px;

      .close-brief {
        float: right;
        font-size: 2em;
        margin-top: 3px;
        margin-right: 5px;
        color: lighten($primary_color, 20);
        cursor: pointer;

        &:hover {
          color: lighten($primary_color, 30);
        }
      }
      .title {
        text-align: center;
      }

      .brief-page {
        max-width: 800px;
        margin: 2px auto;
      }
    }
    &.is-visible-brief {
      .button--open-brief {
        opacity: 0;
        height: 0;
      }
      .brief {
        transition: 3s;  /*  current size / 5000px -- % of --> 3s */
        opacity: 1;
        max-height: 5000px;
      }
    }
  }

  .features {
    margin-top: 25px;

    .feature {
      padding: 5px 15px 75px 5px;
      text-align: center;

      i {
        display: block;
        font-size: 9em;
        color: $light_gray_color;
      }
      .title {
      }
      .description {
        max-width: 300px;
        margin: auto;
      }
    }
  }
}