#page-signup {
  .box {
    max-width: 500px;
    margin: auto;

    form {
      max-width: 300px;
      margin: auto;
    }
    .earthslaws {
      text-align: center;
      margin: 10px 0;
    }
  }
}