#layout-wrapper #page-wrapper #page.userUpdate {

  padding-top: 100px;

  .user-panel {
    width: 200px;
    float: right;

    a {
      display: block;
      padding: 10px;
      background: #DCDCDC;
      border: 1px solid #ECECEC;
      border-bottom: none;
      color: $page_color;

      i {
        margin-right: .5em;
      }

      &:last-of-type {
        border: 1px solid #ECECEC;
      }
      &:hover {
        background: #CCC;
      }
      &:hover, &.active {
        font-weight: bold;
      }
    }
  }

  .user-update-content-wrapper {
    padding: 0 25px;
    margin: 0 225px;

    .box {
      max-width: 600px;
      margin: auto;

      form {
        max-width: 300px;
        margin: auto;
      }
    }
  }

  @media (max-width: $size_small) {
    .user-update-content-wrapper {
      margin-left: 0;
    }
  }
  @media (max-width: $size_x_small) {
    .user-panel {
      float: none;
      margin: auto;
      margin-bottom: 20px;
    }
    .user-update-content-wrapper {
      margin: 0;
    }
  }

}