#layout-wrapper #page-wrapper #page.userUpdate {

  padding-top: 100px;

  .user-panel {
    width: 200px;
    float: right;

    a {
      display: block;
      padding: 10px;
      background: #DCDCDC;
      border: 1px solid #ECECEC;
      border-bottom: none;
      color: $page_color;

      i {
        margin-right: .5em;
      }
      .user-panel-notif {
        padding: 0 0.35em;
        float: right;
        background: #FD3E3B;
        color: #FFF;
        border-radius: 1.4em;
        text-align: center;
      }

      &:last-of-type {
        border: 1px solid #ECECEC;
      }
      &:hover {
        background: #CCC;
      }
      &:hover, &.active {
        font-weight: bold;
      }
    }
  }

  .user-update-content-wrapper {
    padding: 0 25px;
    margin: 0 225px;

    .box {
      max-width: 600px;
      margin: auto;

      form {
        max-width: 300px;
        margin: auto;
      }

      .email, .phone {
        float: left;

        .fa-star, .fa-star-o {
          margin-right: 1em;
          color: $primary_color;
        }
        .fa-star-o {
          color: #999;
          &:hover {
            color: $primary_color;
          }
        }

        .not-verified {
          color: $error_color;
        }
      }
      .button--create {
        float: right;
        margin: 0;
      }
      .new-email, .new-phone {
        margin-right: 155px;
      }
      .new-phone {
        margin-left: 105px;
      }
      select[name=country_code] {
        width: 100px;
        float: left;
      }
    }
  }

  @media (max-width: $size_large) {
    .user-update-content-wrapper {
      margin-left: 0;
    }
  }
  @media (max-width: $size_small) {
    .user-panel {
      float: none;
      margin: auto;
      margin-bottom: 20px;
    }
    .user-update-content-wrapper {
      margin: 0;
    }
  }

}