<Template name="home">
  <div id="page-home">
    <div class="intro">
      <strong>
        {{getProjectName}} is a mondial soceity based on human equality, earth protection and {prendre des decisions tous ensemble}
      </strong>
    </div>

    <div class="brief-wrapper {{getBriefClass}}">
      <a class="button button--open-brief">View brief</a>
      <div class="brief">

        <div class="brief-page box">
          <i class="fa fa-times close-brief"></i>
          <h2 class="brief-title box-title">
            All Togeth'Earth Brief
          </h2>
          <div class="box-content">
            <h3>Citizens <span class="coming-soon">Coming soon</span></h3>
            <i class="fa fa-user big-icon"></i>
            <div class="description">
              <p>Every interested person can join the project and signup. He'll be concidered as an <strong>equal citizen</strong> by others, he'll have to follow the <strong>Earth's laws</strong>, and he'll be able to use all proposed services for free.</p>
              <p>
                <h4 class="coming-soon">Coming later</h4>
                <ul>
                  <li>Officials relationships (familly, union)</li>
                  <li>Affinities (to a group, a corporation or ideology)</li>
                  <li>Birth/Death certificates</li>
                  <li>And more..</li>
                </ul>
                <a class="button" href="{{pathFor 'signup'}}">Become a Citizen</a>
              </p>
            </div>
            <div class="separator"></div>
            <h3>Earth's laws <span class="coming-soon">Coming soon</span></h3>
            <i class="fa fa-globe big-icon"></i>
            <div class="description">
              <p>All society need laws. But to follow rules you have to choose them. Earth's laws are <strong>understood</strong>, <strong>writed</strong> and <strong>accepted</strong> by all citizens.</p>
            </div>
            <div class="separator"></div>
            <h3>Votes <span class="coming-soon">Coming soon</span></h3>
            <i class="fa fa-thumbs-o-up big-icon"></i>
            <div class="description">
              <p><strong>Discussions</strong> can be open by everyone, about issues or dysfunction on the current Earth's laws. Differents <strong>solutions</strong> can be establish by every citizens. For bests of them, proposal can be done, they'll <strong>voted</strong> by interested. Finaly, at regular time, solutions with enough positive vote are <strong>integred to Earth's laws</strong> as a new official version.</p>
            </div>
            <div class="separator"></div>
            <h3>Tribunal <span class="coming-soon">Coming later</span></h3>
            <i class="fa fa-gavel big-icon"></i>
            <div class="description">
              <p>When someone (or a group) isn't agree with someone else, they can open a `Tribunal post`. Everyone can talk about it, and random citizens will be choosen to judge the case. When the issue get enough vote, and the ratio clearly sided a solution is taken.</p>
            </div>
            <div class="separator"></div>
            <h3>Groups (or something else) <span class="coming-soon">Coming later</span></h3>
            <i class="fa fa-users big-icon"></i>
            <div class="description">
              <p>Everyone can create or join an existing group. The most global one, named `Citizens` contain everyone.<br/>
                Each group have his own description page, discution topics and even proposal version for Earth's laws.<br/>
                A group can represent:
                <ul>
                  <li>An ideology, religion or `new way to thing`</li>
                  <li>A geographic area. Even if we didn't have borderland, some group can be created for a specific area, can be a city, or more..</li>
                  <li>A hobby (animals, sports or video-games)</li>
                  <li>A corporation. {{getProjectName}}'s corporation don't do profit, but have a mission for a specific group of citizens (can be a product, or a service)</li>
                </ul>
                <span class="coming-soon">Coming after</span> A group can slightly overload Earth's laws (only if it respects the fundamental principles) for a better handling. Example, for a specific geographic area group, the way of a product (like food, or water) is handled based on abundance/shortage.
              </p>
            </div>
            <div class="separator"></div>
            <h3>Jobs manager <span class="coming-soon">Coming later</span></h3>
            <i class="fa fa-industry big-icon"></i>
            <div class="description"></div>
            <div class="separator"></div>
            <h3>Money <span class="coming-soon">Coming later</span></h3>
            <i class="fa fa-clock-o big-icon"></i>
            <div class="description"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="separator"></div>

    <div class="cols features">
      <div class="col-3 col-small-1">
        <div class="feature">
          <i class="fa fa-user"></i>
          <h3 class="title">Citizens</h3>
          <div class="description">
            Join the cause and help us to create a better world be becoming a Citizen.
          </div>
          <a class="button" href="{{pathFor 'signup'}}">Get an ID</a>
        </div>
      </div>
      <div class="col-3 col-small-1">
        <div class="feature">
          <i class="fa fa-globe"></i>
          <h3 class="title">Earth's laws</h3>
          <div class="description">
            Decide together what's the best laws for all living things on earth.
          </div>
          <a class="button">Read Earth's laws</a>
        </div>
      </div>
      <div class="col-3 col-small-1">
        <div class="feature">
          <i class="fa fa-cubes"></i>
          <h3 class="title">Services</h3>
          <div class="description">
            Decide together what's the best laws for all living things on earth.
          </div>
          <a class="button">View list</a>
        </div>
      </div>
    </div>
  </div>
</Template>