<Template name="home">
  <div id="page-home">
    <div class="intro ">
      <strong>
        {{getProjectName}} is a mondial soceity based on human equality, earth protection and {prendre des decisions tous ensemble}
      </strong>
    </div>

    <div class="brief-wrapper {{getBriefClass}}">
      <a class="button button--open-brief">View brief</a>
      <div class="brief">

        <div class="brief-page">
          <i class="fa fa-times close-brief"></i>
          <h2 class="brief-title">
            All Togeth'Earth Brief
          </h2>
          <div class="brief-content">
            <h3>Citizens <span class="coming-soon">Coming soon</span></h3>
            <p>Every interested person can join the project and signup. He'll be concidered as an <strong>eqal citizen</strong> by others, he'll have to follow the <strong>Earth's laws</strong>, and he'll be able to use all proposed services for free.</p>
            <div class="separator"></div>
            <h3>Earth's laws <span class="coming-soon">Coming soon</span></h3>
            <p>All society need laws. But to follow rules you have to choose them. Earth's laws are <strong>understood</strong>, <strong>writed</strong> and <strong>accepted</strong> by all citizens.</p>
            <div class="separator"></div>
            <h3>Votes <span class="coming-soon">Coming soon</span></h3>
            <p><strong>Discussions</strong> can be open by everyone, about issues or dysfunction on the current Earth's laws. Differents <strong>solutions</strong> can be establish by every citizens. For bests of them, proposition can be done, they'll <strong>voted</strong> by interested. Finaly, at regular time, solutions with enough positive vote are <strong>integred to Earth's laws</strong> as a new official version.</p>
            <div class="separator"></div>
            <h3>Tribunal <span class="coming-soon">Coming later</span></h3>
            <div class="separator"></div>
            <h3>Corporations <span class="coming-soon">Coming later</span></h3>
            <div class="separator"></div>
            <h3>Jobs manager <span class="coming-soon">Coming later</span></h3>
          </div>
        </div>
      </div>
    </div>

    <div class="separator"></div>

    <div class="cols features">
      <div class="col-3 col-small-1">
        <div class="feature">
          <i class="fa fa-user"></i>
          <h3 class="title">Citizens</h3>
          <div class="description">
            Join the cause and help us to create a better world be becoming a Citizen.
          </div>
          <a class="button">Get an ID</a>
        </div>
      </div>
      <div class="col-3 col-small-1">
        <div class="feature">
          <i class="fa fa-globe"></i>
          <h3 class="title">Earth's laws</h3>
          <div class="description">
            Decide together what's the best laws for all living things on earth.
          </div>
          <a class="button">Read Earth's laws</a>
        </div>
      </div>
      <div class="col-3 col-small-1">
        <div class="feature">
          <i class="fa fa-cubes"></i>
          <h3 class="title">Services</h3>
          <div class="description">
            Decide together what's the best laws for all living things on earth.
          </div>
          <a class="button">View list</a>
        </div>
      </div>
    </div>
  </div>
</Template>